html {
  --scrollbar-bg: #e6e6e6;
  --scrollbar-bg-hover: #349469;
  --scrollbar-bg-active: #318a62;
}

html.dark {
  --scrollbar-bg: #3c3c3c;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 定义滚动条轨道 */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 8px;
}

/* 定义滑块 垂直 */
::-webkit-scrollbar-thumb:vertical {
  height: 4px;
  background-color: var(--scrollbar-bg);
  -webkit-border-radius: 8px;
}

/* 定义滑块 水平 */
::-webkit-scrollbar-thumb:horizontal {
  width: 8px;
  background-color: var(--scrollbar-bg);
  -webkit-border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-bg-hover);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-bg-active);
}

.back-to-top.back-to-top {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,0.12);
  mask: initial;

  &:hover {
    background-color: #F2F6FC;
  }

  &::after {
    content: "";
    display: inline-block;
    border-width: 0.5rem;
    border-top-width: 0;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--back-to-top-color);
  }
}
